@media screen and (max-width:1050px) {
    .result {
        flex-wrap: wrap;
        word-wrap: break-word;
        flex-direction: column;
        align-items: flex-start;
    }
    .result button,
    .result .shortenLink {
        margin-top: -2px;
        width: 100%;
    }
    .result button,
    .result .givenLink {
        width: 100%;
    }
    
}


@media screen and (max-width:700px) {
    .innerOne {
        width: 95%;
    }
    .options nav a{
        margin: 5px;
        font-size: 0.8em;
    }
    .comLogo img {
        width: 90px;
    }
    .innerTwo {
        width: 100%;
        flex-direction: column;
    }
    .contentL,
    .contentR {
        width: 100%;
    }
    .contentL {
        justify-content: center;
        order: 2;
        padding: 5px;
    }
    .contentWrapper {
        text-align: center;
    }
    .contentWrapper h1 {
        font-size: 2.5em;
    }
    .contentWrapper p {
        padding-right: 0px;
        margin-top: 20px;
    }
    .contentR img {
        margin-left: 150px;
    }
    .innerThree {
        width: 95%;
        margin-top: 50px;
        background: hsl(257, 27%, 26%) url(./images/bg-shorten-mobile.svg) top right no-repeat;
    }
    .inpSec {
        flex-direction: column;
    }
    .inpSec input,
    .inpSec button {
        width: 100%;
        font-size: 1em;
    }
    .break {
        align-self: flex-start;
    }
    .innerFive {
        width: 80%;
    }
    .innerFive p {
        padding: 10px;
    }
    .innerSix {
        width: 95%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
    }
    .boxSix {
        width: 100%;
        text-align: center;
    }
    .boxSix:nth-child(3),
    .boxSix:nth-child(4),
    .boxSix:nth-child(5) {
        margin-top:0;
    }
    .boxSix #imgBox {
        width: 15%;
        margin: auto;
        margin-top: -40px;
    }
    #bgLine {
        display: none;
    }
    #bgLineMob {
        display: block;
        position: absolute;
        left: 50%;
        width: 10px;
        height: 100%;
        background-color: hsl(180, 66%, 49%);
    }
    .partSeven {
        background-image: url(./images/bg-boost-mobile.svg);
    }
    .innerEight {
        width: 95%;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .footMenu {
        width: 80%;
        text-align: center;
    }
    
}


@media screen and (max-width:550px) {
    .innerOne {
        width: 95%;
        padding: 20px 0px 20px 0px;
    }
    .options,
    .login {
        display: none;
    }
    .hamburger {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 3px;
        justify-content: center;
    }
    .comLogo,
    .hamburger {
        width: 50%;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        transition: 0.3s ease-in-out;
        background-color: hsl(257, 7%, 63%);
    }
    .line.hide {
        opacity: 0;
    }
    .line.rotateElemOne {
        width: 25px;
        transform: rotate(45deg) translate(-2px,5px);
    }
    .line.rotateElemTwo {
        width: 25px;
        transform: rotate(-45deg) translate(3px,-10px);
    }
    .partSeven h1 {
        font-size: 1.8em;
    }
    .contentWrapper h1 {
        font-size: 2em;
    }
    .contentWrapper p {
        font-size: 0.9em;
        letter-spacing: 0;
        padding-right: 0px;
        margin-top: 20px;
    }
    .mobMenu {
        display: none;
        width: 90%;
        z-index: 2;
        top: 10%;
        padding: 20px 0px 30px 0px;
        color: white;
        border-radius: 10px;
        left: 50%;
        flex-direction: column;
        gap: 20px;
        transform: translate(-50%,-50%);
        position: absolute;
        background-color: hsl(257, 27%, 26%);
    }
    .mobNav {
        width: 90%; 
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid hsl(257, 7%, 63%);
    }
    .btnSet {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .mobNav a {
        margin: 23px;
        color: white;
        text-decoration: none;
        font-weight: 700;
    }
    .mobNav a:hover {
        color: hsl(180, 66%, 49%);
    }
    .btnSet button {
        width: 80%;
        padding: 10px;
        font-size: 0.9em;
        font-weight: 600;
        border: none;
        outline: none;
        color: white;
        border-radius: 30px;
        background-color: hsl(257, 27%, 26%);
        font-family: 'Poppins', sans-serif;
    }
    .btnSet button.active {
        color: white;
        background-color: hsl(180, 66%, 49%);
    }
    .bgBlur {
        position: absolute;
        top: 0;
        width: 100%;
        display: none;
        height: 100vh;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.456);
    }
}